.panel {
  margin-bottom: 20px;
  background-color: #fff;
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px;
  border-radius: 25px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.panel-title > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel > .list-group {
  margin-bottom: 0;
}

.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table,
.panel-group .panel {
  margin-bottom: 0;
}

.panel-group {
  margin-bottom: 20px;
}

.panel-group .panel + .panel {
  margin-top: 15px;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* --------------------------------------------------------------------
	Start Global
-------------------------------------------------------------------- */
/* Button */
.btn-primary {
  background-color: #1a9bdc;
  border-color: #1a9bdc;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.19);
}
.btn-primary:hover, .btn-primary:not([disabled]):not(.disabled):active {
  background-color: #0087be;
  border-color: #0087be;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 135, 190, 0.5);
}

.btn {
  padding: .6rem 2rem;
  font-size: 1rem;
  border-radius: 1.5rem;
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
  font-family: cursive;
  font-weight: bold;
}

/* Margin */
.md-6 {
  margin-bottom: 6rem;
}

/* Start Info */
.info {
  margin-bottom: 50px;
}
.info h2 {
  font-size: 2.2em;
  margin-bottom: 25px;
}
.info p {
  font-size: 1.1em;
  line-height: 1.6;
}

/* End Global */
/* --------------------------------------------------------------------
	Start Menu Info
-------------------------------------------------------------------- */
.header-top {
  padding-top: 20px;
}
.header-top .row {
  max-height: 90px;
}
.header-top .info {
  position: relative;
  color: #6a6a6a;
}
.header-top .info a {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #1a9bdc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.header-top .info a:hover {
  color: #fff;
}
.header-top .info a i {
  font-size: 30px;
  line-height: 50px;
}
.header-top .info h6 {
  font-size: 0.97em;
  font-weight: bold;
}
.header-top .info p {
  font-size: .83em;
}
.header-top hr {
  margin-bottom: 0;
}

/* End Menu Info */
/* --------------------------------------------------------------------
	Start Navbar
-------------------------------------------------------------------- */
.navbar {
  padding: 15px 0 !important;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}
.navbar .navbar-nav {
  width: 100%;
}
.navbar .navbar-nav .nav-item {
  font-size: 1.3em;
}
.navbar .navbar-nav .nav-item a {
  color: #6c6c6c !important;
}
.navbar .navbar-nav .nav-item a:hover {
  color: #262626 !important;
}
.navbar .navbar-nav .nav-item:not(:last-child) {
  margin-right: 10px;
}
.navbar .navbar-nav .active a {
  color: #262626 !important;
}
.navbar .navbar-nav .two li {
  display: inline-block;
}

/* End Navbar */
/* --------------------------------------------------------------------
	Start Global
-------------------------------------------------------------------- */
header {
  background: url(../image/header/header.jpg);
  padding: 185px 0;
  max-height: 650px;
}
header h1 {
  font-size: 3.1em;
  color: #474747;
  margin-bottom: 30px;
}
header p {
  font-size: 1.47em;
  color: #3f3f3f;
  margin-bottom: 30px;
}

/* End Global */
/* --------------------------------------------------------------------
	Start Card-Info
-------------------------------------------------------------------- */
.info .row {
  margin: 0;
}
.info .con {
  padding: 0;
}
.info .card-info {
  padding: 50px 25px 30px;
}
.info .card-info h5 {
  margin: 20px 0;
}
.info .card-info.one {
  background-color: #43b1d2;
}
.info .card-info.two {
  background-color: #3fb6c6;
}
.info .card-info.three {
  background-color: #3cbbbb;
}
.info .card-info.four {
  background-color: #37c3a8;
}

/* End Card-Info */
/* --------------------------------------------------------------------
	Start Content
-------------------------------------------------------------------- */
.content {
  padding: 80px 0;
}
.content .info {
  margin-bottom: 50px;
}
.content .info h2 {
  color: #494949;
}
.content .info p {
  padding: 0 90px;
}
.content .content-info {
  position: relative;
  padding: 40px 0;
}
.content .content-info img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content .content-info h3 {
  width: calc(100% - 100px);
  margin: 0 0 0 100px;
  font-size: 2em;
  color: #6f6f6e;
}
.content p {
  font-size: 1.1em;
  margin-bottom: 0;
  line-height: 1.7;
  color: #6a6a6a;
}

/* End Content */
/* --------------------------------------------------------------------
	Start Counter-info
-------------------------------------------------------------------- */
.counter-info {
  padding: 120px 0;
  background: url(../image/counter/counter.png);
  background-position: center right;
  background-blend-mode: multiply;
  background-color: rgba(0, 135, 190, 0.9);
}
.counter-info img {
  width: 90px;
  height: 80px;
}
.counter-info .info {
  height: 199px;
  padding-top: 25px;
}
.counter-info .info h2 {
  font-size: 3em;
  margin-bottom: 0;
  padding: 10px 0;
  display: inline-block;
}
.counter-info .info span {
  font-size: 3em;
}
.counter-info .info .hr {
  width: 40%;
  height: 5px;
  margin: 15px auto;
  background-color: #fff;
}
.counter-info .info p {
  font-size: 1.3em;
}

/* End Counter-info */
/* --------------------------------------------------------------------
	Start Works
-------------------------------------------------------------------- */
.works {
  padding: 80px 0;
}
.works .info {
  margin-bottom: 50px;
}
.works .info h2 {
  color: #494949;
}
.works .info p {
  color: #6a6a6a;
}
.works .card {
  border: 0;
  border-radius: 0;
}
.works .card img {
  height: 230px;
}
.works .card .card-body h5 {
  font-size: 1.3em;
  margin: 10px 0 20px;
  color: #6f6f6e;
}
.works .card .card-body a {
  color: #0087be;
  font-weight: bold;
}
.works .card .card-body p {
  margin: 15px 0 0;
  line-height: 1.6;
  color: #6a6a6a;
}
.works button {
  margin: 50px auto 0;
}
.works .panel-default .panel-heading {
  background-color: #e2e2e2;
}
.works .panel-default .panel-heading.active {
  background-color: #0087be !important;
}
.works .panel-default .panel-heading.active a {
  color: #fff !important;
}
.works .panel-default .panel-heading a {
  color: #494949;
  font-size: 1.1em;
}
.works .panel-default .panel-heading a:hover {
  text-decoration: none;
}
.works .panel-default .panel-heading i {
  color: #1a9bdc;
  font-size: 12px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}
.works .panel-default .panel-body {
  color: #6a6a6a;
}

/* End Works */
/* --------------------------------------------------------------------
	Start Gallery
-------------------------------------------------------------------- */
.gallery {
  padding: 90px 0;
  background: url(../image/gallery/gallery.png);
  background-blend-mode: multiply;
  background-color: #38b69e;
}
.gallery .info p {
  padding: 0 90px;
}
.gallery img {
  width: 100%;
  height: 250px;
}

/* End Gallery */
/* --------------------------------------------------------------------
	Start Team
-------------------------------------------------------------------- */
.team {
  padding: 120px 0 100px;
}
.team .info {
  margin-bottom: 100px;
}
.team .info h2 {
  color: #494949;
}
.team .info p {
  color: #6a6a6a;
}
.team .img img{
  height: 220px;
  border-radius: 50%;
}
.team .team-info {
  color: #6f6f6e;
}
.team .team-info h5 {
  font-size: 1.8em;
  margin: 25px 0 15px;
}
.team .team-info p {
  font-size: 1.1em;
}
.team .team-info ul li {
  display: inline-block;
}
.team .team-info ul li:not(:last-child) {
  margin-right: 10px;
}
.team .team-info ul li i {
  font-size: 1.5em;
  color: #0087be;
}
/* End Team */
/* --------------------------------------------------------------------
	Start Offer
-------------------------------------------------------------------- */
.offer {
  padding: 80px 0;
  background-color: #e2e2e2;
}
.offer h2 {
  font-size: 2em;
  color: #494949;
}

/* End Offer */
/* --------------------------------------------------------------------
	Start Contact Us
-------------------------------------------------------------------- */
.contact-us {
  padding: 120px 0;
  background-color: #171717;
  color: rgba(255, 255, 255, 0.7);
}
.contact-us .contact-info {
  position: relative;
  padding: 40px 0 10px;
}
.contact-us .contact-info img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact-us .contact-info p {
  width: calc(100% - 60px);
  margin: 0 0 0 60px;
}
.contact-us .link li:not(:last-child) {
  margin-bottom: 15px;
}
.contact-us .link li a {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.contact-us .link li a i {
  color: #1a9bdc;
  margin-right: 20px;
}
.contact-us form input[type="text"],
.contact-us form textarea {
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-bottom: 20px;
}
.contact-us form input[type="text"].form-control,
.contact-us form textarea.form-control {
  padding: .5rem .5rem;
  border-radius: 0;
}
.contact-us form input[type="text"].form-control:focus,
.contact-us form textarea.form-control:focus {
  color: #fff;
  box-shadow: none;
}
.contact-us form textarea {
  resize: none;
  height: 150px;
}
.contact-us form textarea:focus:focus {
  background-color: transparent;
  border-color: transparent;
}
.contact-us form .btn {
  padding: .38rem 2.1rem;
  font-size: 1.1rem;
  border-radius: 1.5rem;
}
.contact-us .social-icon li {
  display: inline-block;
  margin-right: 15px;
}
.contact-us .social-icon li i {
  font-size: 2em;
  color: #fff;
  transition: .5s;
}
.contact-us .social-icon li i:hover {
  color: #0087be;
}

/* End Contact Us */
/* --------------------------------------------------------------------
	Start Footer
-------------------------------------------------------------------- */
footer {
  padding: 50px 0;
  background-color: #1a1a1a;
}
footer p {
  color: #615555;
}

/* End Footer */
/* --------------------------------------------------------------------
	Start Group
-------------------------------------------------------------------- */
header, .counter-info, .gallery {
  background-attachment: fixed;
  background-size: cover;
}

/* End Group */

/*# sourceMappingURL=style.css.map */
