// Font
$main-font: sans-serif;
$heading-font: cursive;
// Color
$color-blue:				  #1a9bdc;
$color-green:				 #38b69e;
$color-black: 				 #494949;
$color-black-menu: 		 #6a6a6a;
$color-black-nav-active:	#262626;
$color-black-header: 		  #474747;
$color-black-header-p: 		#3f3f3f;
$color-black-nav: 		    #6c6c6c;
$color-head: 				  #6f6f6e;
$color-gray: 				   #e2e2e2;
$color-footer-p: 				   #615555;
// Background
$back-blue: 				  #0087be;
$back-card-1: 				 #43b1d2;
$back-card-2: 				 #3fb6c6;
$back-card-3: 				 #3cbbbb;
$back-card-4: 				 #37c3a8;
$back-contact-us:			     #171717;
$back-footer: 				   #1a1a1a;